<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Warp9 Audio - Inbox</title>

  <!-- CSS Dependencies -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <!-- Materialize CSS -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body ng-app="TopApp" ng-controller="messageController">

  <!-- NAVIGATION BAR -->
    <nav class="blue-grey darken-1" id="top-nav" role="navigation" ng-controller="navbarController">
    <div class="nav-wrapper container">
      <!-- <a id="logo-container" href="#" class="brand-logo center"><img id="logo-img" src="./img/coloredLOGO13.png"></a> -->
      <ul class="hide-on-med-and-down" id="med-and-down-menu1">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Prices</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <ul class="right hide-on-med-and-down" id="med-and-down-menu2">
        <li ng-hide="sessionProgress" class="fade" ng-class="{in:!sessionProgress}"><a class="waves-effect waves-purple btn blue-grey lighten-2 modal-trigger" href="#modal1">Sign Up / Log In</a></li><!-- 
         --><li ng-show="sessionProgress" class="fade right-align" ng-class="{in:sessionProgress}" style="width: 200px;"><a class="dropdown-button" href-"javascript:void(0);" data-activates='userDropdown' data-beloworigin="true" data-gutter="0"><span class="light white-text">{{ currentSession.name }}</span></a></li><i class="material-icons fade" ng-class="{in:sessionProgress}" ng-show="sessionProgress">perm_identity</i>
      </ul>
      <!-- Dropdown Structure -->
      <ul id='userDropdown' class='dropdown-content'>
          <li><a href="uploadfile.html">Upload Files</a></li>
          <li><a href="inbox.html">Inbox</a></li>
          <li><a href="javascript:void(0);">Settings</a></li>
          <li ng-show="sessionAdmin"><a href="usersboards.html" class="red-text">Users Dashboard</a>
          <li ng-show="sessionAdmin"><a href="#" class="red-text">File Manager</a>
          <li><a href="/users/logout">Log Out</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav blue-grey darken-1">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Prices</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
        <div class="divider"></div>
        <li ng-hide="sessionProgress" class="fade" ng-class="{in:!sessionProgress}"><a class="waves-effect waves-purple btn blue-grey lighten-2 modal-trigger" href="#modal1">Sign Up / Log In</a></li><!-- 
         --><li ng-show="sessionProgress" class="fade" ng-class="{in:sessionProgress}"><a><span class="light white-text">{{ currentSession.name }} </span></a></li>
         <ul ng-show="sessionProgress">
          <div class="divider"></div>
          <li><a href="uploadfile.html">Upload Files</a></li>
          <li><a href="inbox.html">Inbox</a></li>
          <li><a href="javascript:void(0);">Settings</a></li>
          <li ng-show="sessionAdmin"><a href="usersboards.html" class="red-text">Users Dashboard</a>
          <li ng-show="sessionAdmin"><a href="#" class="red-text">File Manager</a>
          <li><a href="/users/logout">Log Out</a></li>
        </ul>
      </ul>
      
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- MODAL EMAIL -->
  <div id="messageModal" class="modal" >
    <div class="modal-content">
      <h5 ng-bind="readMessage.title"></h5>
      <hr>
        <ul>
          <li>From: {{readMessage.from}}</li>
          <li>To: {{readMessage.to}}</li>
          <li>Date: {{readMessage.date | date}}</li>
        </ul>
        <hr>
        <div class="section">
          <p class="lighter" style="white-space:pre-wrap;" ng-bind="readMessage.text"></p>
        </div>
        <br>
        <div class="row">
          <div class="col s12 m4" style="padding-top: 5px;">
            <button class="btn waves-effect blue-grey waves-light modal-close modal-action" type="button" ng-disabled="!(allowedReply)" ng-click="messageReplyClick()">Reply&nbsp&nbsp<i class="fa fa-reply" style="font-size: 1.1em;" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col s12 m4" style="padding-top: 5px;">
            <button class="btn waves-effect blue-grey waves-light modal-close modal-action center" type="button" ng-click="markArchived()" ng-disabled="(readMessage.userid === 'archived')">Archive&nbsp&nbsp
            </button>
          </div>
          <div class="col s12 m4" style="padding-top: 5px;">
            <button class="btn waves-effect blue-grey waves-light modal-close" type="button" name="action">Close&nbsp&nbsp<i class="fa fa-times" style="font-size: 1.2em;" aria-hidden="true"></i>
            </button>
          </div>
        </div>
    </div>
  </div>
  <!-- MESSAGE REPLY -->
  <div id="messageReplyModal" class="modal" >
    <div class="modal-content">
        <ul>
          <li>From: {{ replyMessage.from }}</li>
          <li>To: {{ replyMessage.to }}</li>
        </ul>
        <div class="section">
          <form>
            <div input-field>
              <input id="title" type="text" name="title" ng-model="replyMessage.title" class="validate">
              <label for="title"></label>
            </div>
              <div input-field>
                <textarea id="reply_text" class="materialize-textarea" name="reply_text" ng-model="replyMessage.text"></textarea>
                <label for="textarea1"></label>
              </div>
          </form>
        </div>
        <br>
        <div class="row">
          <div class="col sm6">
            <button class="btn waves-effect blue-grey waves-light modal-close" type="button" name="action" ng-click="newReplyMessage()">Send&nbsp&nbsp<i class="fa fa-reply" style="font-size: 1.1em;" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col sm6 right">
            <button class="btn waves-effect blue-grey waves-light modal-close" type="button" name="action">Cancel&nbsp&nbsp<i class="fa fa-times" style="font-size: 1.2em;" aria-hidden="true"></i>
            </button>
          </div>
        </div>
    </div>
  </div>
  <!-- MESSAGE NEW -->
  <div id="messageNewModal" class="modal" >
    <div class="modal-content">
        <ul>
          <li>From: {{ currentSession.name }}</li>
          <li>To: <span ng-bind="adminTitle"></span></li>
        </ul>
        <div class="section">
          <form>
            <div class="input-field col s12">
              <input id="title" type="text" ng-model="title" class="validate">
              <label for="title">Subject</label>
            </div>
              <div class="input-field col s12">
                <textarea id="new_text" class="materialize-textarea" ng-model="new_text" minlength="5" class="validate"></textarea>
                <label for="textarea1">Message</label>
              </div>
          </form>
        </div>
        <br>
        <div class="row">
          <div class="col sm6">
            <button class="btn waves-effect blue-grey waves-light modal-close" type="button" ng-click="newMessage()">Send&nbsp&nbsp<i class="material-icons" style="font-size: 1em;vertical-align: top;" aria-hidden="true">mode_edit</i>
            </button>
          </div>
          <div class="col sm6 right">
            <button class="btn waves-effect blue-grey waves-light modal-close" type="button" name="action">Cancel&nbsp&nbsp<i class="fa fa-times" style="font-size: 1.2em;" aria-hidden="true"></i>
            </button>
          </div>
        </div>
    </div>
  </div>

  <!-- JUMBOTRON SECTION -->
  <div id="index-banner" style="height:780px;" class="parallax-container">
    <div class="section" style="top:25%;">
      <div class="container">
        
        <h1 id="jumboheader1" class="header center blue-grey-text text-lighten-4" style="margin-top:-2em;margin-bottom:20px;">Inbox</h1>
        <div class="container" id="wrapper_inbox">
          <div class="container" id="inbox_space">
            <table class="bordered highlight black-text centered" id="messagetable">
              <thead>
                <tr>
                  <th>From</th>
                  <th>To</th>
                  <th>Subject</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="message in messages | orderBy: '-createdAt' track by $index" ng-click="readMessage(message)">
                    <td><i class="material-icons red-text" style="font-size: 0.7em;" ng-show="!(message.read)">grade</i><i class="material-icons red-text" style="font-size: 1.2em;" ng-show="(message.userid === 'archived')">not_interested</i>{{message.name}}</td>
                    <td>{{message.to}}</td>
                    <td class="truncated" ng-bind="message.title"></td>
                    <td>{{message.createdAt | date}}</td>
                </tr>
              </tbody>
            </table>
            <button class="btn waves-effect blue-grey waves-light modal-trigger" href="#messageNewModal" type="button" name="newMessage"  style="bottom: 2em;position: absolute;"  >New Message&nbsp&nbsp<i class="material-icons" style="font-size: 1.1em;vertical-align: top;">email</i>
              </button>

          </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./img/textures-white.jpg" style="height:auto;"  alt="faders"></div>
  </div>

  <footer class="page-footer blue-grey darken-1">
      <div class="container">
          <h6 class="header white-text center-align no-pad-bot">Website design by ChromaWave Design LLC</h6>
      </div>
    <div class="footer-copyright blue-grey darken-1">
      <div class="container">
        <div class="row">
          <span class="">Copyright  &copy 2016</span>&nbsp|&nbsp
          <span class=""> Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a></span>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>
    <script src="js/init.js"></script>

    <!-- Angular app -->
    <script type="text/javascript" src="js/app-angular.js"></script>

  
  
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </body>
</html>
