
<!-- JUMBOTRON SECTION -->
<div id="index-banner" class="parallax-container">
    <div class="section">
        <div class="container">
            <br><br>
            <h1 id="jumboheader1" class="header center blue-grey-text text-lighten-4">WARP9 AUDIO</h1>
            <div class="row center">
                <h5 class="header col s12">Mixing and mastering solutions with the highest attention to details.</h5>
            </div>
            <br><br>

        </div>
    </div>
    <div parallax><img src="/img/faders2_short.jpg" alt="faders"></div>
</div>


<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center purple-text"><i class="material-icons">volume_up</i></h2>
                    <h5 class="center">Amazing Sound</h5>
                    <p class="light">We guarantee you amazing hi-def sound quality.  Attention to sonic details and a case-by-case study of frequency curve and dynamic is executed.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center purple-text"><i class="material-icons">schedule</i></h2>
                    <h5 class="center">Fast Turnaround</h5>

                    <p class="light">We are dedicated to meeting your deadlines and self-prioritize according to clients' needs.  We do our best to be fast and accurate, without making a sacrifice with quality.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center purple-text"><i class="fa fa-money" aria-hidden="true"></i></h2>
                    <h5 class="center">Affordable</h5>
                    <p class="light">As fellow musicians, we know what it's like to be on a budget, and how hard it is to survive in the industry.  We do our best to make our services affordable, and will offer bulk rate for Albums and labels.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 id="jumboheader2" class="header col s12 grey-text text-lighten-2">We guarantee our sound will be unmatched over loudspeakers or headphones!</h5>
            </div>
        </div>
    </div>
    <div parallax><img ng-src="/img/edm-show.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>The Process</h4>
                <p class="left-align light">Our engineer, Adam, carefully listens to the submitted music for any audible errors or issues with the submission.  If everything sounds and looks ok, we come up with references from similar genres.<br>Next, a spectrum analyzer and level meters are used to study your song and look at the frequencies and dynamics of the various instruments.<br>Now the mastering engineer carefully adjusts your song through plug ins, including but not limited to: Equalizers, Stereo Wideners, Mutliband Compressors, and finally Limiters.<br>
                    Finally, our engineer takes another critical listen and see if anything needs a readjustment, before it is being uploaded and a link is sent. </p>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div parallax><img src="/img/recordingstudio.jpg" alt="Unsplashed background img 3"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-s12 left">
                <!-- <h3 class="header center-align">What Clients Say</h3> -->
                <ul id="quotes-list-stagger" class="center-align">
                    <li><h6 class="grey-text"><i>Dude! This song sounds so good! Thank you!!!</i></h6>-Pumpkin</li>
                    <li><h6 class="grey-text"><i>comes highly recommended by us!</i></h6>-Scour Records</li>
                    <li><h6 class="grey-text"><i>This message is HIGHLY endorsed. Adam absolutely KILLS the audio game. Seriously, I am thankful for his efforts on our album.. He went above and beyond.</i></h6>-Willdabeast</li>
                    <li><h6 class="grey-text"><i> My EP was mastered by this legend, can vouch that he is a good man and a better mastering engineer!</i></h6>-Darcy Rank</li>
                </ul>
                <ul id="quotes-list-stagger2" class="center-align">
                    <li><h6 class="grey-text"><i>Father Funk approved!</i></h6>-Father Funk</li>
                    <li><h6 class="grey-text"><i>Top work by a top fella!</i></h6>-Spark Arrester</li>
                    <li><h6 class="grey-text"><i> Yes! Adam is a beast! Good work man! I highly recommend this man's mixing and mastering!</i></h6>-EVeryman</li>
                    <li><h6 class="grey-text"><i>The best of the best!</i></h6>-Brian Zerega</li>
                </ul>
            </div>
        </div>
    </div>
</div>


