
<!-- JUMBOTRON SECTION -->
<div id="index-banner" class="parallax-container">
    <div class="section">
        <div class="container">
            <br><br>
            <h1 id="jumboheader1" class="header center grey-text text-lighten-4">PRICING</h1>
            <div class="row center">
                <h5 class="header col s12">We offer competitive pricing at uncompromising quality!</h5>
            </div>
            <br><br>

        </div>
    </div>
    <div parallax><img src="/img/foldedmoney.jpg" alt="faders"></div>
</div>


<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m3 center">
          <div class="card">
            <div class="card-content">
              <span class="card-title">SINGLE</span>
              <ul class="">
                <li>Single WAV/AIFF</li>
                <li>16/24 Bit 44.1Khz</li>
                <li>up to 7 mins length</li>
              </ul>
            </div>
            <div class="card-action">
              <span class="center"><strong>$30/track</strong></span>
            </div>
          </div>
        </div>
        <div class="col s12 m3 center">
          <div class="card">
            <div class="card-content">
              <span class="card-title">BULK</span>
              <ul class="">
                <li>Multiple WAV/AIFF</li>
                <li>16/24 Bit 44.1Khz</li>
                <li>up to 7 mins length each</li>
              </ul>
            </div>
            <div class="card-action">
              <span class="center"><strong>$20/track</strong></span>
            </div>
          </div>
        </div>
        <div class="col s12 m3 center">
          <div class="card">
            <div class="card-content">
              <span class="card-title">STEM MASTER</span>
              <ul class="">
                <li>4-8 Stems WAV/AIFF</li>
                <li>16/24 Bit 44.1Khz</li>
                <li>up to 7 mins length</li>
              </ul>
            </div>
            <div class="card-action">
              <span class="center"><strong>$85/track</strong></span>
            </div>
          </div>
        </div>
        <div class="col s12 m3 center">
          <div class="card">
            <div class="card-content">
              <span class="card-title">SONG MIX</span>
              <ul class="">
                <li>4-30 Tracks WAV/AIFF</li>
                <li>16/24 Bit 44.1Khz</li>
                <li>up to 7 mins length</li>
              </ul>
            </div>
            <div class="card-action">
              <span class="center"><strong>$200/track</strong></span>
            </div>
          </div>
        </div>
      </div>
      <h6>* There are charges for every minute the song is over 7 minutes.</h6>
      <h6>Please contact us for rates of additional "run through" mixes. (radio mix, instrumentals, etc)</h6> 
    </div>
</div>
