  <!-- JUMBOTRON SECTION -->
  <div id="index-banner" style="height:690px;" class="parallax-container">
    <div class="section" style="top:25%;">
      <div class="container">
        
        <h1 id="jumboheader1" class="header center blue-grey-text text-lighten-4" style="margin-top:0;margin-bottom:100px;">File Upload</h1>
        <br><br><br>
        <div class="row center">
          <!-- uploadFileController Section -->
          <form ng-controller="uploadFileController">
            <div class="container indigo lighten-5" style="padding: 15px; border-radius: 9px;height: 10.5em;">
              <div class="file-field input-field">
                <div class="btn">
                  <span>File</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
              <button class="btn waves-effect waves-light right" type="button" ng-click="">
                  Send<i class="material-icons right">input</i>
              </button>
            </div>        
          </form>
          
        </div>
        <br><br>

      </div>
    </div>
    <div parallax><img src="../img/desktop.jpg" style="height:auto;" alt="faders"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-s12 center">
          <h5 class="header text-center">Guidelines</h5>
          <ul style="line-height: 2;">
            <li>Please name your song as: <em>artist - song (radio mix)</em></li>
            <li>Compress your songs to a single zip file</li>
            <li>Minimum is 16Bit 44.1Khz Stereo WAV (higher rates is fine)</li>
            <li>Leave 3dB to 6dB of headroom in the mix</li>
            <li>Compressors/Limiters on the master bus should be deactivated</li>
            <li>You should be as happy as possible with your current mix</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

